@font-face {
  font-family: "Yeseva One";
  src: url(./assets/fonts/yesevaone-regular-webfont.woff);
}
body {
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}
h1 {
  font-family: "Yeseva One", serif;
}
.font-system {
  font-family: system-ui, sans-serif !important;
}
