@font-face {
  font-family: "Yeseva One";
  src: url(./assets/fonts/yesevaone-regular-webfont.woff);
}
body {
  font-family: system-ui, sans-serif;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yeseva One", serif;
}
